* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'liquid_crystalregular', sans-serif;
  user-select: none;
  user-drag: none;
  padding: 0 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 2rem;
  background: rgb(25, 25, 25);
}

.date,
.clock {
  height: 20rem;
  width: 50vw;
  line-height: 9rem;
  margin: 1rem auto 0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  color: #eee;
  text-align: center;
  border-radius: 2rem;
  box-shadow: 0 0 7px #222;
  text-shadow: 0 0 3px #fff;
  letter-spacing: 1rem;
}

.clock {
  font-size: 10rem;
}

.date {
  font-size: 6rem;
}

@media (max-width: 1024px) {
  html {
    font-size: 7px;
  }

  body {
    flex-direction: column;
  }

  .date,
  .clock {
    height: 25rem;
    width: 90vw;
    line-height: 10rem;
  }

  .clock {
    font-size: 12rem;
  }

  .date {
    font-size: 8rem;
  }
}